<!doctype html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %} - Team1 Trip Planner</title>
    <link rel="stylesheet" href="{{ url_for('main.static', filename='style.css') }}" />
</head>

<body>
    <div id="topnav">
<a href='/'>
	<img src="{{ url_for('main.static', filename='images/banner.png') }}" alt='Team 1 Travel Planner banner' width='961' height='51'>
</a>

<div id="logged-in-bar">
<button class='button signup' id='usernameButton' onclick='toggleMenu();'>
	userName
</button>
<div id='submenu-container'>
	<div id='submenu'>
		<a href='/view_trips'>
			<button class='submenu-button'>
				View Trips
			</button>
		</a>
            	<a href='/account_settings'>
			<button class='submenu-button'>
				Account Settings
			</button>
		</a>
            	<a href='/login'>
			<button class='submenu-button'>
				Log In
			</button>
		</a>
            	<button class='submenu-button' onclick='logOut();'>
			Log Out
		</button>
	</div>
</div>
</div>

        <div id="logged-out-bar">
<a href='/sign_up'>
	<button class='button signup'>
		SIGN UP
	</button>
</a>
<button class='button login' id='login-button' onclick='toggleLoginMenu();'>
	LOGIN
</button>
<div id='loginmenu-container'>
	<div id='loginmenu'>
		<div class='plan-form'>
			 <form method="POST" action="{{ url_for('auth.login') }}">
            {{ form.hidden_tag() }}
            <table class='form_table'>
                    <tr>
                        <td>
                {{ form.username.label }}
                        </td>
                        <td>
                {{ form.username(size=32) }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                {{ form.password.label }}
                        </td>
                        <td>
                {{ form.password(size=32) }}
                        </td>
                    </tr>
                </table>
                {{ form.remember.label }}
                {{ form.remember() }}
            <br>
            <br>
            <div>
                {{ form.submit() }}
            </div>
        </form><br>
        <a href="{{ url_for('auth.forgot_password') }}">Forgot your password?</a><br>
            <br>
        <a href="{{ url_for('auth.register') }}">Don't have an account? Register here.</a>
		</div>
	</div>
</div>
</div>
    </div>

    {% block pagebody %}{% endblock %}


    <div id="footer">
        <div id='contact-container'><button class="button contact" id='contact-button'
            onclick='toggleContactInfo();'><img src="{{ url_for('main.static', filename='icons/email_icon.png') }}" width="25"
                                                style="vertical-align:middle" alt="Email Icon"> &nbsp;Contact Us</button>
            <div id="subcontact">
                <div id="subcontact-container">
                    <table class="data_table">
                        <tr>
                            <th>NAME</th>
                            <th>RESPONSIBILITIES</th>
                            <th>EMAIL</th>
                        </tr>
                        <tr>
                            <td>Galia Adelshin</td>
                            <td>Project Manager</td>
                            <td><a href="mailto: gadelshin@student.umgc.edu">gadelshin@student.umgc.edu</a></td>
                        </tr>
                        <tr>
                            <td>Terence Boyce</td>
                            <td>Test Director</td>
                            <td><a href="mailto: tboyce11@student.umgc.edu">tboyce11@student.umgc.edu</a></td>
                        </tr>
                        <tr>
                            <td>Jared Brick</td>
                            <td>Software Designer</td>
                            <td><a href="mailto: jbrick@student.umgc.edu">jbrick@student.umgc.edu</a></td>
                        </tr>
                        <tr>
                            <td>Xavier Watson</td>
                            <td>Software Designer</td>
                            <td><a href="mailto: xwatson@student.umgc.edu">xwatson@student.umgc.edu</a></td>
                        </tr>
                        <tr>
                            <td>Greg Chelchowski</td>
                            <td>Requirements Manager / UX/UI Designer</td>
                            <td><a href="mailto: gchelchowski@student.umgc.edu">gchelchowski@student.umgc.edu</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script type='text/javascript'>
        const banner_url = "{{ url_for('main.static', filename='images/banner.png') }}";
</script>
    <script type='text/javascript' src="{{ url_for('main.static', filename='script.js') }}"></script>
{% block extrabody %}{% endblock %}
</body>

</html>
