alembic
antiorm
blinker
boto3
botocore
certifi
charset-normalizer
click
colorama
db
destination
Flask
Flask-Bcrypt
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
flask_sqlalchemy
Flask-WTF
greenlet
idna
itsdangerous
Jinja2
jmespath
locust
Mako
MarkupSafe
python-dateutil
python-dotenv
pytest
pytest-flask
requests
s3transfer
six
SQLAlchemy
typing_extensions
urllib3
Werkzeug
wheel
WTForms
