alembic
antiorm
blinker
boto3
botocore
certifi
charset-normalizer
click
colorama
db
destination
Flask
Flask-Migrate
Flask-SQLAlchemy
greenlet
idna
itsdangerous
Jinja2
jmespath
Mako
MarkupSafe
python-dateutil
requests
s3transfer
six
SQLAlchemy
typing_extensions
urllib3
Werkzeug
pytest
pytest-flask
flask_sqlalchemy
python-dotenv
locust
wheel