{% extends "main/base.html" %}

{% block title %}Account Settings{% endblock %}

{% block pagebody %}
<div id="smallwindow">
    <div class="titlebar">
        <h2>Account Settings</h2>
    </div>

    <div class="smallcontent">
        <form method="POST">
            <table class='form_table'>
                <tr>
                    <td>
                        User ID
                    </td>
                    <td>
                        <input type='text' id='userID'>
                    </td>
                </tr>
                <tr>
                    <td>
                        Password
                    </td>
                    <td>
                        <input type='password' id='password'>
                    </td>
                </tr>
                <tr>
                    <td>
                        Email
                    </td>
                    <td>
                        <input type='email' id='email'>
                    </td>
                </tr>
            </table>
            <br>
            <div>
                <button>Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}