{% extends "main/base.html" %}

{% block title %}Forgot Password{% endblock %}

{% block pagebody %}
<div id="smallwindow">
    <div class="titlebar">
    <h2>Forgot Password</h2>
    </div>
    <div class="smallcontent">
    <form method="POST">
        {{ form.hidden_tag() }}
        <table class='form_table'>
                    <tr>
                        <td>
            {{ form.email.label }}
                        </td>
                        <td>
            {{ form.email(size=32) }}
                        </td>
                    </tr>
        </table>
        <br>
        <div>
            {{ form.submit() }}
        </div>
    </form>
    <br>
</div>
</div>
{% endblock %}
