{% extends "main/base.html" %}
{% block content %}
    <h2>Reset Password</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.password.label }}
            {{ form.password(size=32) }}
        </div>
        <div>
            {{ form.confirm_password.label }}
            {{ form.confirm_password(size=32) }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
    <a href="{{ url_for('login') }}">Back to login</a>
{% endblock %}
