{% extends "main/base.html" %}

{% block title %}Sign Up{% endblock %}

{% block pagebody %}
<div id="smallwindow">
    <div class="titlebar">
        <h2>Sign Up</h2>
    </div>
    <div class="smallcontent">
        <form method="POST" action="{{ url_for('auth.sign_up') }}">
            {{ form.hidden_tag() }}
            <table class='form_table'>
                <tr>
                    <td>{{ form.first_name.label }}</td>
                    <td>{{ form.first_name(size=32) }}</td>
                </tr>
                <tr>
                    <td>{{ form.last_name.label }}</td>
                    <td>{{ form.last_name(size=32) }}</td>
                </tr>
                <tr>
                    <td>{{ form.username.label }}</td>
                    <td>{{ form.username(size=32) }}</td>
                </tr>
                <tr>
                    <td>{{ form.email.label }}</td>
                    <td>{{ form.email(size=32) }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label }}</td>
                    <td>{{ form.password(size=32) }}</td>
                </tr>
                <tr>
                    <td>{{ form.confirm_password.label }}</td>
                    <td>{{ form.confirm_password(size=32) }}</td>
                </tr>
            </table>
            <br>
            <div>
                {{ form.submit() }}
            </div>
        </form>
        <br>
        <a href="{{ url_for('auth.login') }}">Already have an account? Login here.</a>
    </div>
</div>
{% endblock %}
