{% extends "main/base.html" %}

{% block title %}Sign Up{% endblock %}

{% block pagebody %}
<div id="smallwindow">
    <div class="mainareatripdetails">
    <div class="titlebar">
        <h2>Sign Up</h2><br>
    </div>
            <form id="tripForm">
                <table class='form_table'>
                    <tr>
                        <td>
                            First Name:
                        </td>
                        <td>
                            <input type="text" id="firstName" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Last Name:
                        </td>
                        <td>
                            <input type="text" id="lastName" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Email Address:
                        </td>
                        <td>
                            <input type="email" id="email" required>
                        </td>
                    </tr>
                     <tr>
                        <td>
                            User ID:
                        </td>
                        <td>
                            <input type="text" id="userID" required>
                        </td>
                    </tr>
                     <tr>
                        <td>
                            Password:
                        </td>
                        <td>
                            <input type="password" id="password" required>
                        </td>
                    </tr>
                     <tr>
                        <td>
                            Verify Password:
                        </td>
                        <td>
                            <input type="password" id="password2" required>
                        </td>
                    </tr>
                </table>

                <br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}