{% extends "layout_main.html" %}

{% block title %}Plan Trip{% endblock %}


{% block pagebody %}
<div id="smallwindow">
    <div class="titlebar">
        <h2>Forgot Password</h2><br>
    </div>
    <div class="smallcontent">
        Enter your user name below and we will send a password reminder to the email address on file.
        <div class="plan-form">
            <form id="tripForm">
                <label for="userID">User ID:</label>
                <input type="text" id="userID" required><br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}