{% extends "main/base.html" %}

{% block title %}Plan Trip{% endblock %}

{% block pagebody %}
<div id="plancontent">
    <div class="sidebar">
        <h1>Plan a Trip</h1>
        <label for="state-list">Destination</label>
        <div id="state-list">
            <label for="states-in-a-list"></label>
            <select size="21" name="" id="states-in-a-list" class="form-control" onchange="changeState();"
                                                          onfocus="this.selectedIndex = -1;">
                {% for destination in destinations %}
                <option value="{{ loop.index }}">{{ destination.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="mainarea">
        <div id="state-top">
            <div class="state-image">
                <img id="destination-image"
                     src="{% if destinations %}{{ destinations[0].image_url }}
                          {% else %} {{ url_for('trips.static', filename='images/default_image.jpg') }}{% endif %}"
                     alt="{% if destinations %}{{ destinations[0].name }}
                          {% else %}Default{% endif %}">
            </div>
            <div class="state-name-text"><h2 id="state-name">
                {% if destinations %}{{ destinations[0].name }}{% else %}Destination{% endif %}
            </h2>
            <p id="state-description">
                {% if destinations %}{{ destinations[0].description }}
                {% else %}Description not available.
                {% endif %}</p>
            </div>
        </div>

        <div id="state-info">


            <br>
            <div class="plan-form">
                <button class="button tripbutton" id="flightbutton" onclick="changeTrip('flight');">
                    <img src="{{ url_for('trips.static', filename='icons/flight_icon.png') }}" width="75" height="75"
                         style="vertical-align:middle" alt="Flight Icon">
                    <br><br>Book a flight to <br/><span id="flight-text">{% if destinations %}{{ destinations[0].name }}{% endif %}</span>
                </button>
                <button class="button tripbutton" id="hotelbutton" onclick="changeTrip('hotel');">
                    <img src="{{ url_for('trips.static', filename='icons/hotel_icon.png') }}" width="75" height="75"
                         style="vertical-align:middle" alt="Hotel Icon">
                    <br><br>Book a hotel in <br/><span id="hotel-text">{% if destinations %}{{ destinations[0].name }}{% endif %}</span>
                </button>
                <button class="button tripbutton" id="carbutton" onclick="changeTrip('car');">
                    <img src="{{ url_for('trips.static', filename='icons/car_icon.png') }}" width="75" height="75"
                         style="vertical-align:middle" alt="Car Icon">
                    <br><br>Rent a car in <br/><span id="car-text">{% if destinations %}{{ destinations[0].name }}{% endif %}</span>
                </button>
            </div>
            <br>
            <button class="button startplanning" id="startplanningbutton" onclick="startPlanning();">Start Planning
            </button>
        </div>
    </div>
</div>


{% endblock %}
{% block extrabody %}
<script type='text/javascript'>
    const destinations = {{ destinations | tojson | safe }};

    const selection = document.getElementById('states-in-a-list');
    const stateImage = document.getElementById('destination-image');
    const stateNameText = document.getElementById('state-name');
    const stateDescription = document.getElementById('state-description');
    const flightText = document.getElementById('flight-text');
    const hotelText = document.getElementById('hotel-text');
    const carText = document.getElementById('car-text');

    function changeState() {
        const selectedIndex = selection.selectedIndex;
        const destination = destinations[selectedIndex];

        // Update destination details

        stateNameText.innerText = destination.name;
        stateImage.src = destination.image_url ? destination.image_url :
            "{{ url_for('trips.static', filename='images/default_image.jpg') }}";
        stateDescription.innerText = destination.description;

        // Update button texts to reflect the selected destination
        flightText.innerText = destination.name;
        hotelText.innerText = destination.name;
        carText.innerText = destination.name;
    }
    const startPlanningButton = document.getElementById('startplanningbutton');
    const flightButton = document.getElementById('flightbutton');
    const hotelButton = document.getElementById('hotelbutton');
    const carButton = document.getElementById('carbutton');
    var flightButtonActive = false;
    var hotelButtonActive = false;
    var carButtonActive = false;
    var startPlanningActive = false;

    //when selecting trips types on Plan Trip, causes them to be highlighted and records it in a boolean
    function changeTrip(tripType) {
        if (tripType === "car") {
            if (carButtonActive === true) {
                carButtonActive = false;
                carButton.style.border = "none";
            }
            else {
                carButtonActive = true;
                carButton.style.border = "2px solid yellow";
            }
        }
        else if (tripType === "hotel") {
            if (hotelButtonActive === true) {
                hotelButtonActive = false;
                hotelButton.style.border = "none";
            }
            else {
                hotelButtonActive = true;
                hotelButton.style.border = "2px solid yellow";
            }
        }
        else if (tripType === "flight") {
            if (flightButtonActive) {
                flightButtonActive = false;
                flightButton.style.border = "none";
            }
            else {
                flightButtonActive = true;
                flightButton.style.border = "2px solid yellow";
            }
        }
        if (flightButtonActive || hotelButtonActive || carButtonActive) {
            startPlanningButton.style.backgroundColor = "blue";
            startPlanningActive = true;
        }
        else {
            startPlanningButton.style.backgroundColor = "gray";
            startPlanningActive = false;
        }
    }

    //functionality needs ot be added to book whatever is active from here.
    function startPlanning() {
        if (startPlanningActive) {
            alert("Start planning active!");
        }
        else {
            alert("Start planning NOT active!");
        }
    }

</script>
{% endblock %}